
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" asp-controller="demo" asp-action="index">
        <input type="text" placeholder="Product Id" name="productId" value="@ViewBag.productId" />
        <input type="submit" value="Generate" />
    </form>
    @if (@ViewBag.productId != null)
    {
        <qrcode content="@ViewBag.productId" width="200" height="200" />
    }

    <serve></serve>
    <p> This current year is <%=thing%>  <p>

</body>
</html>
